@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@1,300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background: black;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  cursor: none;
}

html,
body,
* {
  cursor: none;
}

.write-vertical {
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
}

.font-family-noto {
  font-family: "Noto Serif Display", serif;
}

@font-face {
  font-family: "NB International Regular";
  src: url("./assets/NB-International-Regular.otf");
}
.font-family-nb {
  font-family: "NB International Regular", sans-serif;
}
